body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b5998;
  padding: 0 200px;
  color: #fff;
}

.header .logo {
  display: flex;
  align-items: baseline;
}

.header .logo .title {
  font-size: 40px;
}

.header .logo .btn {
  height: 20px;
  background-color: #42b72a;
  color: #fff;
  margin-left: 10px;
  padding: 12px 12px;
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5px;
}

.header .aside::after {
  width: 0;
  height: 0;
  content: "";
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  position: relative;
  top: 12px;
  left: 8px;
}

.main {
  padding: 0 200px;
}

.main .title {
  margin: 20px 0 60px;
}

.section-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.section-wrapper .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 500px;
  background-color: #fff;
  margin-right: 40px;
}

.section-wrapper .section .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.section-wrapper .section .desc .text {
  color: gray;
  text-align: center;
}

.section-wrapper .section .img {
  width: 200px;
}

.section-wrapper .btn {
  height: 20px;
  background-color: #e9ebee;
  padding: 15px 15px;
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
